<div class="page col">
    <div *ngIf="sessionData.userTasks.taskList; else loader" [@enterAnimation]>
        <div class="row">
            <div class="col-md-2 col-4">
                <img src="/assets/grumpy_male.png" alt="profile image">
            </div>
            <div class="col-md-10 col-8">
                <h4>
                    {{sessionData.userData.username | nameCase}}
                </h4>
                <i *ngIf="sessionData.userData.catchPhrase;else noCatchPhrase">{{userData.catchPhrase}}</i>
                <ng-template #noCatchPhrase>
                    <i>You do not have a catchphrase</i>
                </ng-template>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <task-note [tasks]="sessionData.userTasks.taskList" [progresses]="sessionData.userTasks['progresses']" (runTask)="goToTask($event)"></task-note>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12" [@enterAnimation] *ngIf="!askingQuestion; else askingQuesBar">
                <button (click)="initAskQuestion()">Ask a question</button>
            </div>
            <ng-template #askingQuesBar>
                <div [@enterAnimation] class="col-md-10">
                    <input type="text" [(ngModel)]="newQuestion">
                </div>
                <div [@enterAnimation] class="col-md-2">
                    <button (click)="askQuestion()">Ask!!</button>
                </div>
            </ng-template>
        </div> -->
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="tabActive" [routerLink]="['profiledata']">Profile Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="tabActive" [routerLink]="['questions']">Questions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="tabActive" [routerLink]="['privileges']">Privileges</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="tabActive" [routerLink]="['questions']">Questions</a>
            </li>
        </ul>

        <router-outlet></router-outlet>
    </div>
    <ng-template #loader>
        <app-loader></app-loader>
    </ng-template>
</div>