.nav-tabs{
    background: transparent;
}

.nav.nav-tabs> .nav-item{
     width: 25%;
}

.nav.nav-tabs> .nav-item> .nav-link:hover{
    opacity: 1;
}

.nav.nav-tabs> .nav-item> .nav-link{
     text-align: center;
    border: 0px;
    opacity: 0.75;
    font-weight: 600;
    color: black;
    font-size: 90%;
    transition-duration: 150ms;
}

.nav.nav-tabs> .nav-item> .nav-link.tabActive{
    transform: scale(1.03);
    color: #0863c3;
    opacity: 1;
}


