.nav-tabs{
    background: transparent;
}

.nav.nav-tabs> .nav-item{
     width: 25%;
}

.nav.nav-tabs> .nav-item> .nav-link:hover{
    color:#1569c2;
    opacity: 1;
}

.nav.nav-tabs> .nav-item> .nav-link{
     text-align: center;
     border: 0px;
     opacity: 0.75;
     font-weight: 400;
}


