<div *ngIf="showScreen; else loader" [@enterAnimation] class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h3>{{questionData.question}}</h3>
                    <textarea [(ngModel)]="commentText"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-block btn-outline-secondary" (click)="sendComment();">Submit Answer</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                    <info-text #infoText></info-text>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div [@enterAnimation] *ngIf="questionData.answerId">
        <div class="row answer-row">
            <div class="col-md-12">
                Current Answer :
                <p>{{questionData.answerId}}</p>
            </div>
        </div>
    </div>
    <div [@enterAnimation] *ngIf="questionData.comments">
        <div *ngFor="let comment of questionData.comments" class="row">
            <div class="col-md-12">
                <p class="comment-row">{{comment.comment}}</p>
            </div>
        </div>
    </div>
</div>
<ng-template #loader>
     <app-loader></app-loader>
</ng-template>