<div *ngIf="questionData.question" [@enterAnimation] class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>{{questionData.question}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <textarea [(ngModel)]="commentText"></textarea>
        </div>
    </div>
    <button (click)="sendComment();">Submit Answer</button>
    <ul *ngIf="questionData.comments">
        <li *ngFor="let comment of questionData.comments">{{comment['comment']}}</li>
    </ul>
</div>
<ng-template #loader>
    <div class="container">
    </div>
</ng-template>