textarea{
    height: 100px;
    width: 100%;
}

.answer-row{
    max-height: 400px;
}

.comment-comment{
    margin-bottom: 0px;
}

.comment-action{
    float: right;
    font-size: 0.7em;
    background: transparent;
    border: 0px;
    cursor: pointer;
    border-bottom: 1px solid;
    outline: none;
    opacity: 0.9;
    margin-bottom: 15px;
    margin-top: 0px;
}

.comment-user-action{
    float: left;
}