<div *ngIf="showScreen; else loader" [@enterAnimation] class="container">
    <div *ngIf="!new; else newQuestionScreen">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3 (click)="navigateToQuestion()">{{questionData.question}}</h3>
                        <textarea *ngIf="!srcHome" [(ngModel)]="commentText"></textarea>
                    </div>
                </div>
                <tag-box *ngIf="quesTags.length" [taggedWith]="quesTags"></tag-box>
                <div *ngIf="!srcHome" class="row">
                    <div class="col-md-12">
                        <button [disabled]="!commentText" class="btn btn-block btn-outline-secondary" (click)="sendComment();">Submit Answer</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center">
                        <info-text #infoText></info-text>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div [@enterAnimation] *ngIf="questionData.answerId">
            <div class="row answer-row">
                <div class="col-md-12">
                    Current Answer :
                    <p>{{questionData.answerId}}</p>
                </div>
            </div>
        </div>
        <div [@enterAnimation] *ngIf="questionData.comments.length; else noComments">
            <div *ngFor="let comment of questionData.comments" class="row comment-row">
                <div class="col-md-12">
                    <p class="comment-comment">{{comment.comment}}</p>
                    <div>
                        <button class="comment-action basic-margin-sm">
                            Useful Information
                        </button>
                        <button class="comment-action basic-margin-sm">
                            Waste of Bytes
                        </button>
                        <button class="comment-action comment-user-action basic-margin-sm">
                            Visit User
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #noComments>
            <div class="row comment-row">
                <div class="col-md-12">
                    <p class="comment-comment">Be the first one to answer this question</p>
                </div>
            </div>
        </ng-template>
    </div>
    <ng-template #newQuestionScreen>
        <div class="row">
            <div class="col-sm-12 space-efficient-textbox">
                <textarea class="newQuestionArea" placeholder="   " [(ngModel)]="newQuestion" type="text"></textarea>
                <label>Ask a new question</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <tag-box #newQuestionTagBox></tag-box>
            </div>
        </div>
        <button [disabled]="false" class="btn btn-block btn-outline-secondary" (click)="addQuestion();">Ask Away</button>
    </ng-template>
</div>
<ng-template #loader>
    <app-loader *ngIf="!srcHome"></app-loader>
</ng-template>