<div style="top:0; bottom: 0;left: 0; right: 0; margin: auto; text-align: center;border:1px solid grey; width: 50%;height: 50%;border-radius: 3px;">
  <div>
      <img style="width:150px;height:150px;" src="https://www.freeiconspng.com/uploads/sign-red-error-icon-1.png">
      <h1 style="color: red">HTTP Error 403 -Forbidden </h1>
      <h2>Sorry ! We couldn't find it.</h2>
      <h3 style="font-weight: normal;">The Requested URL &nbsp;
          <strong>{{url}}</strong> &nbsp; was not found on this server.</h3>
      <h4>
          <a href="#"> Login </a>
      </h4>
  </div>
</div>