<div class="page">
    <div *ngIf="sessionData.userData.username" class="row">
        <div class="col-sm-12">
            <app-question [new]="true"></app-question>
        </div>
    </div>
    <hr>
    <div *ngIf="sessionData.userData.username==='******'">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="task" [(ngModel)]="newDevTask.task">
                </td>
                <td>
                    <input type="text" placeholder="summary" [(ngModel)]="newDevTask.summary">
                </td>
                <td>
                    <input type="text" placeholder="dev" [(ngModel)]="newDevTask.dev">
                </td>
                <td>
                    <button (click)="addDevStuff()">Dev Add Task</button>
                </td>
            </tr>
        </table>
        <button (click)="getDevStuff()">Dev Read Mode</button>
        <table>
            <tr *ngFor="let task of pendingTasks">
                <ng-container *ngIf="task.task">
                    <td>{{task.task}}</td>
                    <td>{{task.summary}}</td>
                    <td>{{task.dev}}</td>
                    <td><button (click)="removeDevTask(task)">Remove Task</button></td>
                </ng-container>
            </tr>
        </table>
    </div>
    <ngb-tabset>
        <ngb-tab title="Popular Questions">
            <ng-template ngbTabContent>
                <ng-container *ngTemplateOutlet="QuestionContainer"></ng-container>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>Active tags</ng-template>
            <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee
                squid.
                <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
                    craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco
                    ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica
                    VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
                    8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
                    stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>

    <ng-template #QuestionContainer>
        <div class="questions-container">
            <div *ngFor="let latestQuestion of latestQuestions">
                <app-question [srcHome]="true" [questionText]="latestQuestion.question"></app-question>
            </div>
        </div>
    </ng-template>

</div>