<div class="row">
    <div id="tag-box-div" class="col-md-12 tag-box-div basic-margin-md">
        <span class="sm-label">Tagged In : </span>
        <ng-container *ngIf="!taggedWith.length; else viewTag">
            <div class="same-line" *ngFor="let box of tagBoxes; last as isLast">
                 <!-- (focusout)="addNewTag()" -->
                <input type="text" *ngIf="isLast" [(ngModel)]="box[0]" class="tag-box basic-margin-sm no-border" 
                    (input)="lastBoxValueChange($event.data);" 
                    [ngbTooltip]="autoCompleteData" [autoClose]="false" triggers="manual" #t="ngbTooltip" placement="bottom">
                <div class="same-line tag basic-margin-sm" *ngIf="!isLast">
                    {{box[0]}}
                    <span (click)="removeTag(box)">x</span>
                </div>
            </div>
            <ng-template #autoCompleteData>
                <ul class="autocomplete-list">
                    <li class="autocomplete-list-data" (click)="selectTag(tag)" *ngFor="let tag of filteredExistingTags">{{tag}}</li>
                </ul>
            </ng-template>
            
        </ng-container>
        <ng-template #viewTag>
            <div class="same-line basic-margin-sm" *ngFor="let box of taggedWith">
                <div class="same-line tag">
                    {{box}}
                </div>
            </div>
        </ng-template>
    </div>
</div>