.tag-box-div{
    width: 100%;
}

.tag-box{
    margin: 0px;
    border-radius: 3px;
    font-size: 12px;
    color: #39739d;
    background-color: #E1ECF4;
    border-color: #E1ECF4;
    max-width: 100px;
}

.tag{
    padding: .2em .5em;
    font-size: 12px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    transition: all .15s ease-in-out;
    color: #39739d;
    background-color: #E1ECF4;
    border-color: #E1ECF4;
}

.autocomplete-list{
    list-style: none;
    padding: 0px;
    margin:0px;
}

.autocomplete-list-data{
    text-align: left;
    padding-left: 10px;
    padding-bottom: 2px;
    border: 1px solid;
    border-top: none;
}

.autocomplete-list-data>p{
    margin: 0px;
}

.new-tag-info-div{
    height: 140px;
    text-align: center;
}

.new-tag-info-div>.new-tag-info-head{
    font-weight: 600;
    margin: 0px;
}

.new-tag-info-div>.tag-info-len{
    font-weight: lighter;
    font-size: 10px;
    margin-bottom: 10px;
}

.new-tag-info-div>.new-tag-info{
    width: 80%;
    font-size: 10px;
    outline: none;
}

.autocomplete-list-data:hover{
    background-color: #589bca;
    color: #E1ECF4;
}