<div class="row">
    <div class="col-md-12">
        <div class="sm-row" style="float: right;">
            <div class="same-line basic-margin-md sm-row">
                <button class="btn btn-default basic-margin-sm no-bg" type="button" (click)="goToHome()">Home</button>
                <button class="btn btn-default basic-margin-sm no-bg" type="button" (click)="goToProfile()">Profile</button>
                <button class="btn btn-default basic-margin-sm no-bg" type="button" (click)="logoutUser()">Logout</button>
            </div>
        </div>
    </div>
</div>