<div class="row">
    <div *ngFor="let x of list">
        <div class="card col-sm-13" style="width: 13rem;background-color:
        #e5e5e5;border:0;margin:10px;">
            <div class="card-body">
                <input class="tag-box" [disabled]="true">
                <i class="font-button fa fa-plus new-tag-button" ></i>
            </div>
            <div class="card-footer" style="height:15px;background-color:#b2b2b2">
                <h6 style="font-size:0.7em;margin-top: -6.8px">Upvotes:{{1}}</h6>
            </div>
        </div>
    </div>
</div>