<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header" style="background-color: #ffffe5;">
        <h4 class="modal-title">LOGIN</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click');">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="main">
            <br>
            <div class="row">
                <div class="google" (click)="socialSignIn('google')">
                    <h5><i class="fa fa-google" style="color:#db3236"></i>&nbsp;&nbsp;Google</h5>
                </div>
            </div><br>
            <div class="row">
                <div class="facebook" (click)="socialSignIn('facebook')">
                    <h5><i class="fa fa-facebook-f" style="color: #3b5998;"></i>&nbsp;&nbsp;Facebook</h5>
                </div>
            </div>
            <br>
            <div>
                <hr>
                <h3>OR</h3>
                <hr>
            </div>
            <br>
            <form>
                <input class="contentInput" type="text" name="username" placeholder="USERNAME" [(ngModel)]="loginUserName">
                <input class="contentInput" type="password" name="psw" placeholder="PASSWORD" [(ngModel)]="loginPassword">
                <br><br>
                <button class="btn btnn" (click)="login()">LOGIN</button>
            </form>
        </div>
    </div>
</ng-template>
<ng-template #verified let-c="close" let-d="dismiss">
    <div class="modal-header" style="background-color: #cce0cc;">
        <h4 class="modal-title">CREDENTIALS</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click');">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="main">
            <form (ngSubmit)="login1()"  #signupForm="ngForm">
                {{error}}
                <input name="username" [disabled]="true" value="{{email}}">
                <input type="text" (focusout)="validateUsername()" pattern="[a-z0-9_-]+" minlength="4" name="username" placeholder="USERNAME" required [(ngModel)]="setUserName" (click)="openSmallModal()">
                <input type="password" name="psw" placeholder="PASSWORD" [(ngModel)]="setPassword"><br><br>
                <button class="btn btnn" type="submit"  [disabled]="signupForm.invalid || error" >LOGIN</button>
            </form>
        </div>
    </div>
</ng-template>
<ng-template #username_verified let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="main">
            <form>
                <h4>Current Username : {{username}}</h4>
                <h5>Want to change your username ?</h5>
                <button class="btn btnn" (click)="d('Cross click');checkSocialName=true">YES</button>
                <button class="btn btnn" (click)="setUserName=username;d('Cross click');checkSocialName=true">NO</button>
            </form>
        </div>
    </div>
</ng-template>