<div class="loader">
    <div class="lefty"></div>
    <div class="lefty"></div>
    <div class="lefty"></div>
    <div class="lefty"></div>
    <div class="lefty"></div>
    <div class="lefty"></div>
    <div class="lefty"></div>
    <div class="lefty"></div>
    <div class="righty"></div>
    <div class="righty"></div>
    <div class="righty"></div>
    <div class="righty"></div>
    <div class="righty"></div>
    <div class="righty"></div>
    <div class="righty"></div>
    <div class="righty"></div>
    <div class="midGuy"></div>
    <div class="midGuy"></div>
    <div class="midGuy"></div>
    <div class="midGuy"></div>
    <div class="midGuy"></div>
    <div class="midGuy"></div>
    <div class="midGuy"></div>
    <div class="midGuy"></div>
    <info-text #loaderText></info-text>
</div>