h3{
    margin-left:55%;
    font-family: 'Electrolize', sans-serif;
    font-size: 40px;
    
}
/* .hover_color:hover,.hover_color:active{
    background-color: #e5e5e5;
} */
.hover_color{
    background-color: #e5e5e5;
}