<div>
    <form (ngSubmit)="onLoginAttempt()" #loginForm="ngForm">
        <div class="same-line basic-margin-md">
            <label class ="sr-only" for="userName">User Name</label>
            <input class="header-input-box" id="userName" placeholder="Username" pattern="[a-z0-9_-]+" maxlength="20" minlength="7" name="userName" required [(ngModel)]="userName" type="text">
        </div>
        <div class="same-line basic-margin-md">
            <label class ="sr-only" for="password">Password</label>
            <!-- TODO add password regex -->
            <input class="header-input-box" id="password" placeholder="Password" name="password" required [(ngModel)]="password" type="text">
        </div>
        <button [disabled]="loginForm.invalid" class="btn btn-success" type="submit">Login!!</button>
    </form>
</div>