/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

img{
    max-width: 100%;
    height: auto;
}

.same-line{
    display: inline
}

.basic-padding-xs{
    padding: 2px;
}

.basic-padding-sm{
    padding: 4px;
}

.basic-padding-md{
    padding: 8px;
}

.basic-padding-lg{
    padding: 12px;
}

.basic-margin-sm{
    margin: 4px;
}

.basic-margin-md{
    margin: 8px;
}

.basic-margin-lg{
    margin: 12px;
}

.sm-label{
    font-size: 14px;
}

.text-button{
    cursor: pointer;
    display: inline-block;
}

.no-bg{
    background: none;
}

.loader>info-text>div{
    width: 100%;
    top:80px;
    position: absolute;
    opacity: 1;
    left: 0;
    margin: 0px;
}

.page{
    height: 100vh;
    width: 100vw;
    padding: 0 10vw;
}

.no-border{
    border: 0px;
    outline: none;
}

.font-button{
    cursor: pointer;
    margin-left: 5px;
}

.query-match{
    font-weight: 500;
}

.button-sm-full-width{
    font-size: 12px;
    padding: 2px;
    width:100%;
}

#tag-box-div>div>div>ngb-tooltip-window>.tooltip-inner{
    background: #E1ECF4;
    color: #39739d;    
    padding: 0px;
    min-width: 300px;
}

#tag-box-div>div>div>ngb-tooltip-window>.arrow::before{
    border-bottom-color: #E1ECF4;
}

.space-efficient-textbox{
    position: relative;
}

.space-efficient-textbox>textarea{
    transition-duration: 0.3s;
}

.space-efficient-textbox>label{
    transition-duration: 0.3s;
    position: absolute;
    top:5px;
    left:30px;
    font-size: 25px;
    color: #545454;
}

.space-efficient-textbox>textarea:hover,.space-efficient-textbox>textarea:focus,
.space-efficient-textbox>textarea:not(:placeholder-shown)
{
    border: transparent;
    border-bottom: 1px solid rgb(112, 107, 107);
}

.space-efficient-textbox>textarea:hover+label,.space-efficient-textbox>textarea:focus+label,
.space-efficient-textbox>textarea:not(:placeholder-shown)+label
{
    top:-10px;
    left:15px;
    font-size: 15px;
    color: black;
}

.space-efficient-textbox>textarea:not(:focus):not(:placeholder-shown)+label{
    opacity: 0.5;
}


@media only screen and (max-width: 576px) {
 
    .sm-row{
        display:inline-block;
        width: 100%;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }
}
