/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.same-line{
    display: inline
}

.basic-padding-sm{
    padding: 4px;
}

.basic-padding-md{
    padding: 8px;
}

.basic-padding-lg{
    padding: 12px;
}

.basic-margin-sm{
    margin: 4px;
}

.basic-margin-md{
    margin: 8px;
}

.basic-margin-lg{
    margin: 12px;
}

.no-bg{
    background: none;
}


@media only screen and (max-width: 576px) {
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .sm-row{
        display:inline-block;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
 .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
        display: inline-block;
        width: 100%;
        text-align: center;
    }
}
